<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h1>Inscripción a Proyectos Integradores de Sistemas</h1>
    <p>Bienvenido a la página oficial para la inscripción a proyectos integradores
      del departamento de ingeniería de sístemas de la universidad de antioquia.
    </p>
    <p>
      Este proyecto surge de la necesidad del departamento de sistemas en
      sistematizar y digitalizar la oferta, inscripción y el seguimiento de los proyectos
      integradores I y II de cada semestre académico.
    </p>
  </div>
</div>
