<div class="col-sm-6 col-sm-offset-3" style="padding-top: 10%">
  <form name="tokenEquipo" ng-submit="obtenerTokenEquipo()" ng-show="!esperandoCodigo" class="animate-show" novalidate>
    <div class="row">
      <h1>¿Olvidaste tu contraseña?</h1>
      <p>Si has olvidado tu contraseña puedes usar esta página para solicitar una nueva. Escribe el nombre de tu equipo y luego da click en enviar.</p>

      <p>Enviaremos un correo electrónico a la cuenta de cada uno de los integrantes del equipo con un código con el cual podras recuperar tu cuenta.</p>
      <!-- USUARIO-->
      <div class="control-group form-group">
        <div ng-class="{'has-error': tokenEquipo.usuario.$invalid && (!tokenEquipo.$pristine || tokenEquipo.$submitted || tokenEquipo.usuario.$touched),
        'has-success': tokenEquipo.usuario.$valid}">
        <label for="usuario">Cuenta de usuario</label>
        <input type="text" name="usuario" placeholder="e.g.night'swatch@123"
        class="form-control" ng-model="usuario.nombre" required>

        <!-- VALIDACIONES DE CUENTA DE USUARIO -->
        <div ng-messages="tokenEquipo.usuario.$error" ng-if="tokenEquipo.usuario.$touched || tokenEquipo.$submitted" ng-messages-multiple>
          <p ng-message="required" class="help-block"><b>Debe ingresar una cuenta de usuario.</b></p>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-success btn-lg btn-block" >
      <span ng-show="!enviando">Enviar </span>
      <span ng-show="enviando">Enviando <i class="glyphicon glyphicon-refresh gly-spin"></i></span>
    </button>
  </div>
</form>

<form name="recuperarContrasena" ng-submit="recuperarContrasenaEquipo()" class="animate-show" ng-show="esperandoCodigo" novalidate>
  <div class="row">
    <h1>Recuperar contraseña</h1>
    <p>Ingresa el código que hemos enviado a tu correo electrónico para reestablecer tu contraseña.</p>
    <!-- CÓDIGO-->
    <div class="control-group form-group">
      <div ng-class="{'has-error': recuperarContrasena.codigo.$invalid && (!recuperarContrasena.$pristine || recuperarContrasena.$submitted || recuperarContrasena.codigo.$touched),
      'has-success': recuperarContrasena.usuario.$valid}">
      <label for="codigo">Código</label>
      <input type="text" name="codigo" placeholder="e.g dEca02zX"
      class="form-control" ng-model="usuario.codigo" required>

      <!-- VALIDACIONES DE CUENTA CÓDIGO -->
      <div ng-messages="recuperarContrasena.codigo.$error" ng-if="recuperarContrasena.codigo.$touched || recuperarContrasena.$submitted" ng-messages-multiple>
        <p ng-message="required" class="help-block"><b>Debe ingresar el código solicitado.</b></p>
      </div>
    </div>
  </div>

  <button  type="submit" class="btn btn-success btn-lg btn-block">
    <span ng-show="!enviando">Enviar </span>
    <span ng-show="enviando">Enviando <i class="glyphicon glyphicon-refresh gly-spin"></i></span>
  </button>
</div>
</form>
<br>
<!-- INFORMACIÓN DE ERRORES -->
<div class="alert col-sm-12" ng-class="{'alert-success': !recuperacionError, 'alert-danger': recuperacionError}"
ng-show="mostrarAlerta">
<button type="button" class="close" ng-click="switchError('mostrarAlerta')">×</button>
<strong> {{mensajeAlerta}}</strong>
</div>
</div>
