<!-- Sidebar -->
<div id="sidebar-wrapper" ng-class="{toggled: toggled}">
  <ul class="sidebar-nav">

    <!-- Menu de acceso global -->
    <div>
      <li><a ui-sref="home">Inicio</a></li>
      <li><a ui-sref="listaIdeas">Lista de ideas</a></li>
      <li><a ui-sref="listaOfertas">Lista de ofertas</a></li>
    </div>

    <!-- Menu de profesores -->
    <div ng-if="isProfesor()">
      <li><a ui-sref="crearIdea">Inscribir Ideas</a></li>
    </div>

    <!-- Menu de comite -->
    <div ng-if="isComite()">
      <li><a ui-sref="propuestasIdea">Ideas propuestas</a></li>
    </div>

    <!-- Menu de jefe -->
    <div ng-if="isJefe()">
      <li><a ui-sref="listaProfesores">Lista profesores</a></li>
      <li><a ui-sref="semestres.lista">Semestres</a></li>
      <li><a ui-sref="ofertarIdeas">Ofertar Ideas</a></li>
      <li><a ui-sref="solicitudInscripcion">Lista inscripciones</a></li>
    </div>

    <!-- Menu de grupo -->
    <div ng-if="isEstudiante()">
      <li><a ui-sref="equipos.lista">Equipos</a></li>
    </div>
  </ul>
</div>
<!-- /#sidebar-wrapper -->
<!-- /#wrapper -->
