<div class="signup-container">
  <h2 class="form-signin-heading">Crear Equipo</h2>
  <div class="row">
    <form  id="sign-up-form" name="estudiantes" ng-submit="addEstudiante()"
    class="form-signin"  novalidate>

    <!-- FORMULARIO DE ESTUDIANTE -->
    <div class="control-group form-group col-sm-5 ">
      <h3 class="form-signin-heading">Información de estudiante</h3>
      <hr>

      <!-- CORREO ESTUDIANTE -->
      <div ng-class="{'has-error': estudiantes.correo.$invalid && (!estudiantes.correo.$pristine || estudiantes.$submitted || estudiantes.correo.$touched),
      'has-success': estudiantes.correo.$valid}">
      <label for="correo">Correo electrónico</label>
      <input id="correo" class="form-control" type="email" name="correo"
      placeholder="e.g. JhonSnow11@winterfell.com" ng-model="estudiante.correo" required>

      <div ng-messages="estudiantes.correo.$error" ng-if="estudiantes.$submitted || estudiantes.correo.$touched" ng-messages-multiple>
        <p ng-message="required" class="help-block"><b>Debe ingresar un correo electrónico.</b></p>
        <p ng-message="email" class="help-block"><b>El correo electrónico ingresado es invalido.</b></p>
      </div>
    </div>

    <!-- CONTRASEÑA ESTUDIANTE  -->
    <div ng-class="{'has-error': estudiantes.estContrasena.$invalid && (!estudiantes.estContrasena.$pristine || estudiantes.$submitted || estudiantes.estContrasena.$touched),
    'has-success': estudiantes.estContrasena.$valid}">
    <label for="estContrasena">Contraseña</label>
    <input id="estContrasena" class="form-control" type="password" name="estContrasena"
    placeholder="Contraseña del estudiante" ng-model="estudiante.contrasena" required>

    <div ng-messages="estudiantes.estContrasena.$error" ng-if="estudiantes.$submitted || estudiantes.estContrasena.$touched" ng-messages-multiple>
      <p ng-message="required" class="help-block"><b>Debe ingresar una contraseña.</b></p>
    </div>
  </div>

  <br>
  <div class="alert col-sm-12" ng-class="{'alert-success': !estudianteError, 'alert-danger': estudianteError}"
    ng-show="mostrarAlertaEstudiante">
    <button type="button" class="close" ng-click="switchAlerta('mostrarAlertaEstudiante')">×</button>
    <strong> {{mensajeAlertaEstudiante}} </strong>
  </div>

  <button type="submit" value="Agregar estudiante" class="btn btn-success btn-lg btn-block">
    <span ng-show="!verificando">Agregar estudiante</span>
    <span ng-show="verificando">Agregando estudiante <i class="glyphicon glyphicon-refresh gly-spin"></i></span>
  </button>
</div>

<!-- LISTA DE ESTUDIANTES -->
<div id="lista-Estudiantes" class="col-sm-5">
  <h3 class="form-signin-heading">Integrantes</h3>
  <hr>
  <div class="est-box no-animate" ng-repeat="est in listaEstudiantes">
    <span ng-click="removerEstudiante($index)" class="glyphicon glyphicon-remove"></span>
    <label>Nombre: </label>
    <p>{{est.nombre}} {{est.apellido}}</p>
    <br>
    <label>Número de documento: </label>
    <p>{{est.tipoIdentificacion}} {{est.identificacion}}</p>
    <br>
    <label>Correo eléctronico: </label>
    <p>{{est.correo}}</p>
  </div>
</div>
</form>
</div>

<hr class="col-sm-10">
<div class="row">
  <form name="signup" ng-submit="signupEquipo()" novalidate>
    <div class="control-group form-group col-sm-5">
      <h3 class="form-signin-heading">Información de equipo</h3>
      <hr>

      <!-- NOMBRE EQUIPO -->
      <div ng-class="{'has-error': signup.nombre_equipo.$invalid && (!signup.nombre_equipo.$pristine || signup.$submitted || signup.nombre_equipo.$touched),
      'has-success': signup.nombre_equipo.$valid}">
      <label for="nombre-equipo">Nombre de equipo*</label>
      <input id="nombre-equipo" class="form-control" type="text" name="nombre_equipo"
      placeholder="e.g. nights.watch" ng-model="equipo.nombre" required>

      <div ng-messages="signup.nombre_equipo.$error" ng-if="signup.$submitted || signup.nombre_equipo.$touched" ng-messages-multiple class="">
        <p ng-message="required" class="help-block"><b>Debe ingresar un nombre de equipo.</b></p>
      </div>
      <p class="text-muted">
        Su nombre de usuario será el nombre de equipo ingresado unido a un código autogenerado. e.g nights.watch@123.
      </p>
    </div>

    <!-- CONTRASEÑA -->
    <div ng-class="{'has-error': signup.contrasena.$invalid && (!signup.contrasena.$pristine || signup.$submitted || signup.contrasena.$touched),
    'has-success': signup.contrasena.$valid}">
    <label>Contraseña*</label>
    <input type="password" name="contrasena" placeholder="Al menos 6 caracteres"
    class="form-control" ng-model="equipo.contrasena" ng-minlength="6" required>
    <div ng-messages="signup.contrasena.$error" ng-if="signup.$submitted || signup.contrasena.$touched" ng-messages-multiple>
      <p ng-message="required" class="help-block"><b>El campo contraseña es obligatorio.</b></p>
      <p ng-message="minlength" class="help-block"><b>La contraseña debe tener por lo menos 6 carácteres.</b></p>
    </div>
  </div>

  <!-- COMFIRMAR CONTRASEÑA -->
  <div ng-class="{'has-error': signup.reContrasena.$invalid && (!signup.reContrasena.$pristine || signup.$submitted || signup.reContrasena.$touched),
  'has-success': signup.reContrasena.$valid}">
  <label>Repetir contraseña*</label>
  <input type="password" name="reContrasena" placeholder="Ingresa nuevamente la contraseña"
  class="form-control" ng-model="equipo.reContrasena" match-password="contrasena" required>

  <div ng-messages="signup.reContrasena.$error" ng-if="signup.$submitted || signup.reContrasena.$touched" ng-messages-multiple>
    <p ng-message="required" class="help-block"><b>Debe ingresar nuevamente la contraseña.</b></p>
    <p ng-message="passwordMatch" class="help-block"><b>Las contraseñas son diferentes.</b></p>
  </div>
</div>

<br>
<div class="alert col-sm-12" ng-class="{'alert-success': !signupError, 'alert-danger': signupError}"
  ng-show="mostrarAlerta">
  <button type="button" class="close" ng-click="switchAlerta('mostrarAlerta')">×</button>
  <strong> {{mensajeAlerta}} </strong>
</div>

<button class="btn btn-success btn-lg btn-block " type="submit" ng-click="signup.loading = !signup.loading">
  <span ng-show="!signingUp">Crear equipo</span>
  <span ng-show="signingUp">Creando equipo <i class="glyphicon glyphicon-refresh gly-spin"></i></span>
</button>
</div>
</form>
</div>
</div>
