<!-- <div class="page-header text-center">
  <h1><font color="green"><strong id="top">Inscripción a proyectos</strong></font></h1>
</div> -->

<div >
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>NOMBRE DE LA IDEA</th>
        <th style="width:250px">ASIGNATURA</th>
        <th>TUTOR</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    <tr ng-repeat="oferta in ofertas" ng-if="oferta.inscripciones[0].historialInscripcion.length != 1">
      <td><b>{{oferta.id}}</b></td>
      <td>{{oferta.idea.titulo}}</td>
      <td><p ng-repeat="asignatura in oferta.idea.asignaturas">{{asignatura.nombre}}</p></td>
      <td>{{oferta.profesor.nombre || 'No asignado'}}</td>
      <td><a class="btn btn-success"ng-click="seleccionar(oferta)" href="">Detalles</a></td>
    </tr>
    </tbody>
  </table>
</div>
