<div class="modal-header text-center">

  <h4 class="modal-title">{{inscripcionActual.oferta.idea.titulo | uppercase}}</h4>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <label><strong>Descripción:</strong></label><br>
    <textarea class="form-control" style="resize:none" rows="6" readonly>{{inscripcionActual.oferta.idea.descripcion | capitalize}}</textarea>
  </div>
</div><br>
<div class="row">
  <div class="col-md-3 col-md-offset-1">
    <label><strong>Fecha creación:</strong></label>
  </div>
  <div class="col-md-7">
    {{inscripcionActual.fechaCreacion | date:'medium'}}
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-md-offset-1">
    <label><strong>Tutor:</strong></label>
  </div>
  <div class="col-md-7">
    {{inscripcionActual.oferta.profesor.nombre}}
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-condensed table-bordered table-hover">
      <label><strong>Asignatura:</strong></label>
      <thead>
        <tr>
          <th>Código</th>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{inscripcionActual.materia.codigo}}</td>
          <td>{{inscripcionActual.materia.nombre}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-condensed table-bordered table-hover">
      <label><strong>Estudiantes:</strong></label>
      <thead>
        <tr>
          <th>Cédula</th>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="est in inscripcionActual.equipo.estudiantes">
          <td>{{est.identificacion}}</td>
          <td>{{est.nombre}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <label><strong>Observacion:</strong></label><br>
    <textarea class="form-control" style="resize:none" rows="6" ng-model="observacion" placeholder="Digite la observación por la cual rechaza o acepta la inscripción."></textarea>
    <div ng-show="error">
      <p class="alert alert-danger">{{mensajeError}}</p>
    </div>
  </div>
</div>
