<div class="col-sm-10  col-sm-offset-1">

  <h2>Listado de profesores inscritos</h2>
  <hr>

  <!-- FORMULARIO PARA EL FILTRADO DE LA LISTA DE PROFESORES -->
  <form class="form-horizontal">
    <div class="form-group">
      <label for="valorFiltro" class="col-sm-2 control-label">Buscar: </label>
      <div class="col-sm-6">
        <input type="text" name="valorFiltro" ng-model="valorFiltro"
        placeholder="Ingrese la palabra que desea buscar en la lista." class="form-control" >
      </div>
    </div>
  </form>

  <!-- LISTA DE PROFESORES -->
  <table class="table table-hover" >
    <tr>
      <th class="th-hover" ng-click="ordenarPor('$index')">#</th>
      <th class="th-hover" ng-click="ordenarPor('nombre')">Nombre</th>
      <th class="th-hover" ng-click="ordenarPor('correo')">Correo electrónico</th>
    </tr>
    <tr ng-repeat="prof in profesores | orderBy:ordenado | filter:valorFiltro">
      <td>{{$index + 1}}</td>
      <td>{{prof.nombre}}</td>
      <td>{{prof.usuarioCorreo}}</td>
    </tr>
  </table>
</div>
