<div class="page-header text-center">
  <h1><font color="green"><strong id="top">Lista de inscripciones</strong></font></h1>
</div>

<div >
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>FECHA CREACION</th>
        <th>NOMBRE DE LA IDEA</th>
        <th>TUTOR</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    <tr ng-repeat="inscripcion in inscripciones">
      <td><b>{{inscripcion.id}}</b></td>
      <td>{{inscripcion.fechaCreacion | date:'medium'}}</td>
      <td>{{inscripcion.oferta.idea.titulo}}</td>
      <td>{{inscripcion.oferta.profesor.nombre}}</td>
      <td><a class="btn btn-success" ng-click="seleccionar(inscripcion)" href="">Detalles</a></td>
    </tr>
    </tbody>
  </table>
</div>
